.footer {
    background-color: #565658;
    border-top: 1px solid #ffffff;
    padding: 1rem 0;
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    color: #ffffff;
    position: absolute;
    bottom: -40px;

    @media (max-width: 600px) {
        position: relative;
    }

    p {
        margin: 0;
        color: #ffffff;
    }

    a {
        color: #ffffff;
        text-decoration: none;
    }

    img {
        width: 100%;
    }
}

.footer-column {
    float: left;
    width: 50%;
}
